body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(../assets/pictures/portrait3.jpg)
}

html, body, .main {
    height: 100%;
}

h1 {
    font-size: 320%;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 5px
}

.main-content {
    padding-left: 7%;
    padding-top: 12%;
    height: 100%;
    float: left;
}

.description-content {
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
}

.basic-info-content {
    font-size: 120%;
}

.typer-content {
    font-size: 150%;
    border-right: .1em solid rgb(244, 78, 79);
    animation: blink-cursor .5s step-end infinite;
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: rgb(244, 78, 79)
        ; }
}

.links {
    color: rgb(244, 78, 79);
}

.links-text {
    letter-spacing: 1px;
    font-size: 95%;
}

a:link {
    color: rgb(244, 78, 79);
    text-decoration: none; 
}
a:visited {
    color: rgb(244, 78, 79);
    text-decoration: none;
}
a:hover {
    color: red;

    text-decoration: none;
}
a:active {
    color: rgb(244, 78, 79);
    text-decoration: none;
}

.miniscule-gap {
    width: 100%;
    height: 30px;
}

.tiny-gap {
    width: 100%;
    height: 90px;
}

.portrait-content {
    animation: fadeIn 1.5s;
}

.portrait-image {
    min-height: 100%;
    
    max-width: 100%;
    width: 100%;
    display:block; 
    background-image: url(../assets/pictures/portrait3.jpg);
    background-size: cover;
    background-position: center center;
}

/* Fading animation on load */
#fade-title {
    animation: fadeIn 1s;
}

#fade-description {
    animation: fadeIn 1.25s;
}

#fade-link1 {
    animation: fadeIn 1.5s;
}

#fade-link2 {
    animation: fadeIn 1.75s;
}

#fade-link3 {
    animation: fadeIn 2s;
}

#fade-link4 {
    animation: fadeIn 2.25s;
}

#fade-link5 {
    animation: fadeIn 2.5s;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (max-width: 768px) { 
    .portrait-image {
        background-image: url(../assets/pictures/portrait3.jpg);
        height: 400px;
        width: 100%;
        background-size: cover;
    }

    .main-content { 
        text-align: center;
    }
}



