@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background:rgba(0,0,0,.5);
  width: 100%;
  height: 50px;
  top: 0;
  display: table;
  position: fixed;
  z-index: 3;
}

a {
  font-family: 'Oswald', sans-serif;
  color: #cccccc;
  font-size: 80%;
  text-decoration: none;
}

li {
  list-style: none;
  margin-left: 30px;
  float: left;
}

.navBtn:hover {
  color: white;
  transition: all 0.5s ease;
}

.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url("title.jpg");
  display: table;
  top: 0;
  background-size: cover;
  background-attachment: fixed;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.fly-in-text {
  list-style: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 600%;
  margin-right: 30px;
  opacity: 1;
  transition: all 2.5s ease;
}
.fly-in-text.hidden li{
  opacity: 0;
}
.fly-in-text.hidden li:nth-child(1){ transform: translateX(-250px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2){ transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3){ transform: translateX(-150px) translateY(220px); }
.fly-in-text.hidden li:nth-child(4){ transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5){ transform: translateX(250px) translateY(200px); }

.divider1 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 300%;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-bottom: 70px;
}

.aboutme {
  height: 80%;
  width: 100%;
  margin: auto;
  background: white;
  display: table;
  top: 0;
  background-attachment: fixed;
}

.contentLeft {
  float: left;
  width: 550px;
  height: 100%;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
}

.contentRight {
  float: right;
  width: 750px;
  height: 100%;
}

.portrait {
  width: 500px;
  height: 350px;
  position: absolute;
  transform: translateX(90px);
  top: 1190px;
  background: url("portrait.png");
  background-size: cover;

}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 125%;
}

.projects {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
  display: table;
  top: 0;
  background-attachment: fixed;
}

.divider2 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 300%;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-bottom: 70px;
}


.contentTopLeftBtn {
  float: left;
  width: 50%;
  height: 407px;
  background: url("html.png");
  cursor: pointer;
  overflow: hidden;
}
.contentTopLeftBtn:before {
  content: 'Website Dev';
  font-family: 'Raleway', sans-serif;
  font-size: 220%;
  color: white;
  position: absolute;
  top: 212%;
  left: 19%;
  transition: all 0.2s;
  opacity: 1;
}
.contentTopLeftBtn:hover:before {
  top: 202%;
  opacity: 0;
}
.contentTopLeftBtn:after {
  font-family: 'Ionicons';
  content: '\f200';
  font-size: 400%;
  transition: all 0.2s;
  position: absolute;
  top: 222%;
  left: 24%;
  color: white;
  opacity: 0;
}
.contentTopLeftBtn:hover:after{
  top: 212%;
  opacity: 1;
}



.contentTopRightBtn {
  float: right;
  width: 50%;
  height: 407px;
  background: url("game.png");
  cursor: pointer;
  overflow: hidden;
}
.contentTopRightBtn:before {
  content: 'Game Creation';
  font-family: 'Raleway', sans-serif;
  font-size: 220%;
  color: white;
  position: absolute;
  top: 212%;
  left: 68%;
  transition: all 0.2s;
  opacity: 1;
}
.contentTopRightBtn:hover:before {
  top: 202%;
  opacity: 0;
}
.contentTopRightBtn:after {
  font-family: 'Ionicons';
  content: '\f200';
  font-size: 400%;
  transition: all 0.2s;
  position: absolute;
  top: 222%;
  left: 74%;
  color: white;
  opacity: 0;
}
.contentTopRightBtn:hover:after{
  top: 212%;
  opacity: 1;
}



.contentBottomLeftBtn {
  float: left;
  width: 50%;
  height: 407px;
  background: url("robot.png");
  cursor: pointer;
  overflow: hidden;
}
.contentBottomLeftBtn:before {
  content: 'Robotics Club';
  font-family: 'Raleway', sans-serif;
  font-size: 220%;
  color: white;
  position: absolute;
  top: 255%;
  left: 19%;
  transition: all 0.2s;
  opacity: 1;
}
.contentBottomLeftBtn:hover:before {
  top: 245%;
  opacity: 0;
}
.contentBottomLeftBtn:after {
  font-family: 'Ionicons';
  content: '\f200';
  position: absolute;
  top: 265%;
  left: 24%;
  font-size: 400%;
  transition: all 0.2s;
  color: white;
  opacity: 0;
}
.contentBottomLeftBtn:hover:after{
  top: 255%;
  opacity: 1;
}



.contentBottomRightBtn {
  float: right;
  width: 50%;
  height: 407px;
  background: url("syde161.png");
  cursor: pointer;
  overflow: hidden;
}
.contentBottomRightBtn:before {
  content: 'SYDE 161';
  font-family: 'Raleway', sans-serif;
  font-size: 220%;
  color: white;
  position: absolute;
  top: 255%;
  left: 71%;
  transition: all 0.2s;
  opacity: 1;
}
.contentBottomRightBtn:hover:before {
  top: 245%;
  opacity: 0;
}
.contentBottomRightBtn:after {
  font-family: 'Ionicons';
  content: '\f200';
  font-size: 400%;
  transition: all 0.2s;
  position: absolute;
  top: 265%;
  left: 74%;
  color: white;
  opacity: 0;
}
.contentBottomRightBtn:hover:after{
  top: 255%;
  opacity: 1;
}


.photography {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
  display: table;
  top: 0;
  background-attachment: fixed;
}
.divider3 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 300%;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-bottom: 70px;
}

#v1 {
  width: 30%;
  height: 30%;
}

#v2 {
  width: 20%;
  height: 30%;

}

.box1 {
  background: url(niagrafalls.jpg);
  float: left;
  background-size: cover;
}
.box2 {
background: url(sunset.jpg);
background-size: cover;
float: left;
}

.box3 {
  background: url(lightfest.jpg);
  background-size: cover;
float: left;
}

.box4 {
  background: url(disk.jpg);
  background-size: cover;
float: left;
}

.box5 {
  background: url(cntower.jpg);
  background-size: cover;
  float: left;
}

.box6 {
  background: url(wedding.jpg);
  background-size: cover;
  float: left;
}

.box7 {
  background: url(kensington.jpg);
  background-size: cover;
  float: left;
  }
}

.box8{
  float: left;
}
.box9{
  background: url(winter.jpg);
  background-size: cover;
  float: left;
}

.box10 {
  background: url(godwin.jpg);
  background-size: cover;
  float: left;
}

.box11 {
  background: url(youngdundas.jpg);
  background-size: cover;
  float: left;
  }

.box12{
  background: url(shoes.jpg);
  background-size: cover;
  float: left;
}
.box13{
  background: url(street.jpg);
  background-size: cover;
  float: left;
}


.connect {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: white;
  display: table;
  top: 0;
  background-attachment: fixed;
}

.divider4 {
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 300%;
  text-align: center;
  height: 30px;
  width: 100%;
  margin-bottom: 70px;
  padding-top: 50px;
}

.facebook {
  height: 100px;
  width: 100px;
  float: left;
  background: url(facebookIcon.png);
  margin-left: 195px;
  margin-top: 200px;
}

.email {
  height: 100px;
  width: 100px;
  float: left;
  background: url(emailIcon.png);
  margin-left: 195px;
  margin-top: 200px;
}

.github {
  height: 100px;
  width: 100px;
  float: left;
  background: url(githubIcon.png);
  margin-left: 195px;
  margin-top: 200px;
}

.linkedin {
  height: 100px;
  width: 100px;
  float: left;
  background: url(linkedinIcon.png);
  margin-left: 195px;
  margin-top: 200px;
}

.resume {
  height: 100px;
  width: 100px;
  float: left;
  background: url(resumeIcon.png);
  margin-left: 195px;
  margin-right: 195px;
  margin-top: 200px;
}

@media screen and (max-width:1679px) {
  .intro {
    width: 100%;
  }
  .aboutme {
    width: 100%;
  }
  .projects {
    width: 100%;
  }
  .photography {
    width: 100%;
  }
  .connect {
    width: 100%;
  }
  .contentTopLeftBtn {
    width: 50%;
  }
  .contentTopRightBtn {
    width: 50%;
  }
  .contentBottomLeftBtn {
    width: 50%;
  }
  .contentBottomRightBtn {
    width: 50%;
  }
}
