h1 {
    font-size: 320%;
    font-family: 'Raleway', sans-serif;
}

.description-content {
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
}

html, body, .main {
    height: 100%;
}

.main-content {
    padding-left: 7%;
    padding-top: 12%;
    float: left;
    height: 100%;
}

#portrait {
    background-color: black;
}

.typer-content {
    font-size: 150%;
    border-right: .1em solid rgb(244, 78, 79)
    ;
    animation: blink-cursor .5s step-end infinite;
}

.basic-info-content {
    font-size: 120%;
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: rgb(244, 78, 79)
        ; }
}

.links {
    color: rgb(244, 78, 79);
}

.links-text {
    letter-spacing: 1px;
    font-size: 95%;
}

a:link {
    color: rgb(244, 78, 79);
    text-decoration: none; 
}
a:visited {
    color: rgb(244, 78, 79);
    text-decoration: none;
}
a:hover {
    color: red;

    text-decoration: none;
}
a:active {
    color: rgb(244, 78, 79);
    text-decoration: none;
}

.temp {
    display: block;
    background-color: black;
    background-size: cover;
    height: 100%;
}

