h1 {
    font-size: 320%;
    font-family: 'Raleway', sans-serif;
}

.description-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 30;
}

html, body, .main {
    height: 100%;
}

.main-content {
    padding-left: 7%;
    padding-top: 12%;
    float: left;
    height: 100%;
}

#portrait {
    background-color: black;
}

.typer-content {
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-size: 120%;
    border-right: .1em solid red;
    animation: blink-cursor .4s step-end infinite;
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: red; }
}

.temp {
    display: block;
    background-color: black;
    background-size: cover;
    height: 100%;
}

